.*/
build/*
!build/ax_pthread.m4
!build/dolt.m4
!build/abi.m4
*.a
*.deps
*.la
*.libs
*.lo
*.o
*.swo
*.swp
*.out
*Makefile
*Makefile.in
.dirstamp
.version
aclocal.m4
autom4te.cache
config
config.*
config.h.in
configure
libtool
stamp-h1
compile
depcomp
install-sh
ltmain.sh
missing
test-driver
man/asciidoc.conf
doltcompile
doltlibtool
src/gridmq.pc
gridcat
*.tar.gz
*.zip
man/*.1
man/*.7
man/*.3
man/*.html
man/diagrams
*.log
t/*.trs
t/block
t/bus
t/device
t/domain
t/emfile
t/pipeline
t/hash
t/inproc
t/inproc_shutdown
t/iovec
t/ipc
t/ipc_shutdown
t/ipc_stress
t/list
t/msg
t/pair
t/poll
t/prio
t/pubsub
t/reqrep
t/separation
t/shutdown
t/survey
t/symbol
t/tcp
t/tcp_shutdown
t/timeo
t/trie
t/zerocopy
t/term
t/cmsg
t/ws
t/tcpmux
*.dir
Debug
